<ion-header>
    <ion-toolbar>
        <ion-button fill = "clear" slot="start" (click) = 'VolverHome()'>
            <ion-icon name="arrow-round-back" size="large"  ></ion-icon>
          </ion-button>
      <ion-title>
        Direccion de Entrega
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

      <ion-list>
          <ion-item>
              <ion-icon name="locate" item-start></ion-icon>
              <ion-label stacked>Calle o Avenida:</ion-label>
              <ion-input type="text" placeholder="Calle Principal"></ion-input>
            </ion-item>
            <ion-item>
                <ion-icon name="grid" item-start></ion-icon>
              <ion-label>   Número Dom.:</ion-label>
              <ion-select value="s/n" okText="Okay" cancelText="Cancelar">
                <ion-select-option value="s/n">S/N</ion-select-option>
                <ion-select-option value="  ">  </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
                <ion-icon name="map" item-start></ion-icon>
              <ion-label>   Referencia:</ion-label>
              <ion-select value="esquina" okText="Okay" cancelText="Cancelar">
                <ion-select-option value="esquina">Esquina</ion-select-option>
                <ion-select-option value="casi">Casi</ion-select-option>
                <ion-select-option value="entre">Entre</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item >
                <ion-icon name="pin" item-start></ion-icon>
                <ion-label stacked>Calle o Avenida:</ion-label>
                <ion-input type="text" placeholder="Calle Auxiliar"></ion-input>
              </ion-item>
              <ion-item>
                <ion-icon name="pin" item-start></ion-icon>
                <ion-label stacked>Y:</ion-label>
                <ion-input type="text" placeholder="Calle Auxiliar 2"></ion-input>
              </ion-item>
             
      </ion-list>

      <ion-button expand="block">Siguiente</ion-button>
    
  </ion-content>