
<ion-content>

<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="closeChacha()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-title>Más Información</ion-title>
  </ion-toolbar>
</ion-header>


<ion-card>
    <ion-card-header>
        <ion-item>
          <ion-img [src]="chacha.img"></ion-img>
        </ion-item>
    
      <ion-card-subtitle>{{chacha.precio_chacha    }}        Bs</ion-card-subtitle>
      <ion-card-title>{{chacha.nombre_chacha}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{chacha.descripcion_chacha}}
      
    </ion-card-content>
  </ion-card>
  

</ion-content>
 