

<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="closeChacha()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-title>{{chacha.nombre_chacha}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-img [src]="chacha.img"></ion-img>
    </ion-item>
  </ion-list>
</ion-content>  


<ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{chacha.precio_chacha    }}        Bs</ion-card-subtitle>
      <ion-card-title>{{chacha.nombre_chacha}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{chacha.descripcion_chacha}}
      
    </ion-card-content>
  </ion-card>
  