

<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="closeChacha()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-title>{{chacha.nombre_chacha}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-img [src]="chacha.img"></ion-img>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>{{chacha.descripcion_chacha}}</h3>
        <h3>{{chacha.precio_chacha    }}  Bs</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>  