<ion-header>
  <ion-toolbar>
    <ion-button fill = "clear"><ion-icon name="arrow-round-back" size="large" slot="start" ></ion-icon></ion-button>
    <ion-title slot="medium">sucursales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of ListaSucursales" (click)="openNavDetailsPage(item)" icon-start>
      <ion-icon [name]="'logo-' + item.icon" [ngStyle]="{'color': item.color}" item-start></ion-icon>
      {{ item.title }}
    </button>
  </ion-list>
</ion-content>
