<ion-header>
  <ion-toolbar color="success">
    <ion-title>Nuestro delicioso MENU</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" routerLink="/pedido" color="primary">
    Hacer Click para hacer Pedido
  </ion-button>
  <ion-button expand="full" color="primary" (click)="OnLogOut()">
    LogOut
  </ion-button>

<!--
 

  <ion-list *ngFor ="let ped of Pedido">
      <ion-item>
        <ion-label>Estado: {{ped.Estado}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Referencia: {{ped.Referencia}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Telefono: {{ped.Telefono}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Total: {{ped.Total}}</ion-label>
        </ion-item>
    </ion-list>

    <ion-list *ngFor ="let chac of chachas">
        <ion-item>
          <ion-label>{{chac.nombre_chacha}}</ion-label>
        </ion-item>
      </ion-list>
-->
  <!--
    <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>ion-item in a card, icon left, button right</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  
    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item href="#" class="activated">
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>Card Link Item 1 .activated</ion-label>
    </ion-item>
  
    <ion-item href="#">
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>Card Link Item 2</ion-label>
    </ion-item>
  
    <ion-item class="activated">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Card Button Item 1 .activated</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Card Button Item 2</ion-label>
    </ion-item>
  </ion-card>
-->
  <div>
    <ion-card>
      <img src="assets\img\normal.jpg" />
      <ion-card-title>
        Chacha de Res
      </ion-card-title>
      <p>
        Deliciosa empanada de carne de res con relleno de verduras,huevo y pasas
      </p>
    </ion-card>
    <ion-card>
      <img src="assets\img\normal.jpg" />
      <ion-card-title>
        Chacha de pollo
      </ion-card-title>
      <p>
        Deliciosa empanada de carne de pollo con relleno de verduras,huevo y pasas
      </p>
    </ion-card>
    <ion-card>
      <img src="assets\img\normal.jpg" />
      <ion-card-title>
        Chacha Mixta
      </ion-card-title>
      <p>
        Deliciosa empanada de carne de res y pollo con relleno de verduras,huevo y pasas
      </p>
    </ion-card>
    <ion-card>
      <img src="assets\img\marisco.jpg" />
      <ion-card-title>
        Chacha de Marisco
      </ion-card-title>
      <p>
        Deliciosa empanada de marisco con relleno de verduras,huevo y pasas
      </p>
    </ion-card>
    <ion-card>
      <img src="assets\img\normal.jpg" />
      <ion-card-title>
        Chacha de Fricase
      </ion-card-title>
      <p>
        Deliciosa empanada de Fricase con relleno de verduras,huevo y pasas
      </p>
    </ion-card>
    <ion-card>
      <img src="assets\img\normal.jpg" />
      <ion-card-title>
        Chacha de Charque
      </ion-card-title>
      <p>
        Deliciosa empanada de charque con relleno de verduras,huevo y pasas
      </p>
    </ion-card>
    <ion-card>
      <img src="assets\img\jamqueso.jpg" />
      <ion-card-title>
        Chacha de Jamon y queso
      </ion-card-title>
      <p>
        Deliciosa empanada de jamon y queso puro
      </p>
    </ion-card>
    <ion-card>
      <img src="assets\img\jamqueso.jpg" />
      <ion-card-title>
        Chacha de Pizza
      </ion-card-title>
      <p>
        Deliciosa empanada de pizza con queso, jamon, oregano y tomate
      </p>
    </ion-card>
    <ion-card>
      <img src="assets\img\queso.jpg" />
      <ion-card-title>
        Chacha de Choclo
      </ion-card-title>
      <p>
        Deliciosa empanada de choclo con queso
      </p>
    </ion-card>
    <ion-card>
      <img src="assets\img\queso.jpg" />
      <ion-card-title>
        Chacha de Queso
      </ion-card-title>
      <p>
        Deliciosa empanada de puro queso derretido
      </p>
    </ion-card>
    <ion-card>
      <img src="assets\img\dulceleche.jpg" />
      <ion-card-title>
        Chacha de Dulce de Leche
      </ion-card-title>
      <p>
        Deliciosa empanada de abundante dulce de leche
      </p>
    </ion-card>
  </div>
</ion-content>
