<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill = "none" (click)="Cerrar()">
      <ion-icon name="close" ></ion-icon>
    </ion-button>
    <ion-title >{{ nombresuc }} </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding >
    <ion-card>
        <ion-item>
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label>{{ direccionsuc}}</ion-label>
  
          </ion-item>
          <ion-item>
              <ion-icon name="call" slot="start"></ion-icon>
              <ion-label>{{ telefonosuc}}</ion-label>
            </ion-item>
  
    </ion-card>
        
</ion-content>
