<ion-toolbar>
  <ion-button fill = "clear" slot="start" (click) = 'VolverHome()'>
      <ion-icon name="arrow-round-back" size="large"  ></ion-icon>
    </ion-button>
<ion-title>ORDENAR</ion-title>
</ion-toolbar>


<ion-content padding>
<ion-list>
<ion-item *ngFor = "let DetalleTipoEmpanada of chachaslist">
<ion-avatar slot = "start">
    <ion-img [src]="DetalleTipoEmpanada.Imagen"> </ion-img>
</ion-avatar>
<ion-label>
  <h3><b>{{DetalleTipoEmpanada.Nombre_Empanada}}</b></h3>

  <div class="ion-text-right">
      <p >Precio(Bs.)</p>
      <h3>{{DetalleTipoEmpanada.Precio_Empanada}}</h3>
    </div>
</ion-label>
</ion-item> 

</ion-list>


</ion-content>


<ion-footer>
<ion-toolbar color="secondary">
      <ion-buttons slot="primary">
      <ion-button >
        <ion-icon slot="icon-only" name="md-arrow-forward"></ion-icon>
      </ion-button>
  </ion-buttons>
  
  <!--<ion-text color="dark" class="ion-text-center" >
    <h2> Total</h2>
    </ion-text>  --> 

  <ion-buttons  >
  <ion-button  fill = "clear" slot="start" (click) = 'VolverHome()'>
      <ion-icon slot="icon-only" name="md-add-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
                   
</ion-toolbar>
</ion-footer>