<ion-header>
  <ion-toolbar color="primary">
    <ion-title>ENVIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item color="success">
        <ion-label>TOTAL PEDIDO CHACHAS</ion-label>
  </ion-item>
  
  <ion-list lines="full">
      <ion-item>
        <ion-label>Tipo Chacha 1</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Tipo Chacha 2</ion-label>
      </ion-item>
      <ion-item>
       <ion-label>Tipo Chacha 3</ion-label>
      </ion-item>
  </ion-list>
  <ion-item>
      <ion-label>TOTAL</ion-label>
  </ion-item>
  
  <ion-item color="success">
      <ion-label>TOTAL PEDIDO JUGOS</ion-label>
</ion-item>

<ion-list lines="full">
    <ion-item>
      <ion-label>JUGO 1</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>JUGO 2</ion-label>
    </ion-item>
</ion-list>
<ion-item>
    <ion-label>TOTAL</ion-label>
</ion-item>

<ion-item color="success">
    <ion-label>TOTAL PEDIDO</ion-label>
</ion-item>
  
  <ion-button expand="full" routerLink="/home" color="primary">
    ENVIAR PEDIDO
  </ion-button>
</ion-content>
