<ion-header>
  <ion-toolbar color="primary">
    <ion-title>DETALLE PEDIDO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item>
        <ion-label position="floating">Datetime</ion-label>
        <ion-datetime></ion-datetime>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Select</ion-label>
        <ion-select>
          <ion-select-option value="">No Game Console</ion-select-option>
          <ion-select-option value="nes">NES</ion-select-option>
          <ion-select-option value="n64">Nintendo64</ion-select-option>
          <ion-select-option value="ps">PlayStation</ion-select-option>
          <ion-select-option value="genesis">Sega Genesis</ion-select-option>
          <ion-select-option value="saturn">Sega Saturn</ion-select-option>
          <ion-select-option value="snes">SNES</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label>Toggle</ion-label>
        <ion-toggle slot="end"></ion-toggle>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Floating Input</ion-label>
        <ion-input></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Input (placeholder)</ion-label>
        <ion-input placeholder="Placeholder"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Checkbox</ion-label>
        <ion-checkbox slot="start"></ion-checkbox>
      </ion-item>
      
      <ion-item>
        <ion-label>Range</ion-label>
        <ion-range></ion-range>
      </ion-item>
-->

  <!-- List Full Lines -->
  <ion-item color="secondary">
    <ion-label>CANTIDAD TOTAL CHACHAS</ion-label>
  </ion-item>

  <ion-list lines="full">
    <ion-item>
      <ion-label>Chacha Carne</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Ingrese Cantidad</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>chacha Pollo</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Ingrese Cantidad</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Chacha Mixta</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Ingrese Cantidad</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>

  <ion-item color="secondary">
    <ion-label>CANTIDAD TOTAL JUGOS</ion-label>
  </ion-item>

  <ion-list lines="full">
    <ion-item>
      <ion-label>Manzana</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Ingrese Cantidad Jugos</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <!--
    <ion-item>
    <ion-label>Jugo 2</ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Ingrese Cantidad Jugos</ion-label>
      <ion-input></ion-input>
    </ion-item>
  -->
  </ion-list>

  <ion-button expand="full" routerLink="/envio" color="primary">
    CONFIRMAR PEDIDO
  </ion-button>
  <!--

  <ion-list lines="inset">
    <ion-item>
      <ion-label>Inset Lines Item 1</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-label>Inset Lines Item 2</ion-label>
    </ion-item>
  </ion-list>
  

  <ion-list lines="none">
    <ion-item>
      <ion-label>No lines Item 1</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-label>No lines Item 2</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-label>No lines Item 3</ion-label>
    </ion-item>
  </ion-list>
-->
</ion-content>
