<ion-header>
  <ion-toolbar>
    <ion-title>
      Las Chachas LaPaz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="ion-padding">
    Bienvenido Cliente
  </div>
  <br>
    <ion-button expand = "block" (click) = 'IrAMenu()'> 
      <ion-icon name="list-box"></ion-icon> Menu de Chachas 
    </ion-button>
  <br>
    <ion-button expand = "block" (click) = 'IrAOrdenar()'> 
        <ion-icon name="cart"></ion-icon> Ordenar Chachas 
    </ion-button>
  <br>
    <ion-button expand = "block" (click) = 'IrASucursales()'> 
        <ion-icon name="map"></ion-icon> Sucursales </ion-button>
</ion-content>

